<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Página Não Encontrada</title>
    <link rel="stylesheet" href="/styles/login.css" />
    <link rel="stylesheet" href="/styles/error.css" />
  </head>
  <body>
    <div class="login-container error-container">
      <h2>404</h2>
      <p class="error-message">
        Ops! A página que você está procurando não foi encontrada.
      </p>
      <a href="/" class="login-button">Voltar para a Página Inicial</a>
    </div>
  </body>
</html>
