* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f8f9fa;
}

.login-container {
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

h2 {
  margin-bottom: 1.5rem;
  color: #333;
}

.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 1.4rem;
  border-radius: 5px;
  padding: 0.4rem;
  background-color: #f9f9f9;
}

.input-group i {
  color: #888;
  margin-right: 0.5rem;
}

.input-group input {
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  outline: none;
  font-size: 1rem;
  background-color: transparent;
}

.input-group input::placeholder {
  color: #bbb;
}

.login-button {
  width: 60%;
  padding: 0.75rem;
  font-size: 1rem;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #45a049;
}

.register-link {
  margin-top: 1.4rem;
  font-size: 0.9rem;
  color: #333;
}

.register-link a {
  color: #4caf50;
  text-decoration: none;
  font-weight: bold;
}

.register-link a:hover {
  text-decoration: underline;
  color: #45a049;
}
