@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css');

.sidebar {
  position: fixed;
  top: 0;
  right: -40%;
  width: 40%;
  height: 100%;
  background-color: #45a049;
  opacity: 0.9;
  color: #e0e0e0;
  transition: right 0.3s ease;
  z-index: 999;
}

.sidebar.open {
  right: 0;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
  margin: 3.2rem 1rem;
}

.sidebar nav ul li {
  margin: 1rem 0;
}

.sidebar nav ul li a {
  color: #e0e0e0;
  text-decoration: none;
  font-size: 1.2rem;
}

#open-sidebar {
  background: none;
  border: none;
  color: #e0e0e0;
  font-size: 2rem;
  cursor: pointer;
}

#close-sidebar {
  background: none;
  border: none;
  color: #e0e0e0;
  font-size: 2.2rem;
  cursor: pointer;
  position: absolute;
  top: 1.4rem;
  right: 1.2rem;
}
