/* Container para garantir a responsividade */
.table-container {
  width: 90%;
  overflow-x: auto;
  margin: 3rem auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilização da tabela */
.results {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  font-size: 16px;
  text-align: left;
}

.results thead {
  background-color: #007bff;
  color: #fff;
}

.results th,
.results td {
  padding: 16px;
  border: 1px solid #ddd;
}

.results tbody tr {
  transition: background-color 0.2s;
}

.results tbody tr:hover {
  background-color: #f1f1f1;
}

/* Estilo alternado nas linhas */
.results tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Responsividade */
@media (max-width: 768px) {
  .results thead {
    display: none;
  }

  .results tbody tr {
    display: block;
    margin-bottom: 10px;
  }

  .results tbody td {
    display: block;
    text-align: right;
    padding-left: 50%;
    position: relative;
    border-bottom: 1px solid #ddd;
  }

  .results tbody td:before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-weight: bold;
    color: #007bff;
    text-align: left;
  }

  /* Atribuindo os labels corretos para a responsividade */
  #result:before {
    content: 'Despesas';
  }

  #tithe:before {
    content: 'Dízimo';
  }

  #after-payment:before {
    content: 'Proventos restantes';
  }

  #percent:before {
    content: 'Percentuais';
  }

  #mean-percent:before {
    content: 'Média percentual';
  }
}
