@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css');

.theme-selector {
  /* position: absolute;
  top: 0.8rem;
  right: 5rem;
  width: max-content;
  z-index: 999; */
}

#theme-switcher {
  font-size: 1rem;
  padding: 0.4rem;
  border: none;
  border-radius: 0.2rem;
  background-color: #4caf50;
  color: #e0e0e0;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

#theme-switcher:hover {
  background-color: #3e8e41;
  color: #fff;
}

.dark-theme #theme-switcher {
  background-color: #170c0c;
  color: #e0e0e0;
}

.dark-theme #theme-switcher:hover {
  background-color: #333;
}

.dark-theme {
  background-color: #170c0c;
  color: #e0e0e0;
}

.dark-theme .header,
.dark-theme .view-results button {
  background-color: #333;
  color: #fff;
}

.dark-theme .options i:hover,
i:hover {
  color: #4caf50;
}

.dark-theme h2,
.dark-theme section,
.dark-theme label {
  background-color: #333;
  color: #e0e0e0;
}

.dark-theme input {
  background-color: #170c0c;
  color: #e0e0e0;
  border: none;
}

.dark-theme th {
  background-color: #333;
  color: #fff;
}

.dark-theme tbody tr:hover {
  background-color: #333;
}

@media (max-width: 425px) {
  .logo-container {
    display: none;
  }

  #toggle-theme {
    margin: auto 0.8rem;
  }

  .options:hover {
    max-height: 10.4rem;
  }
}
