@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css');

.options {
  background-color: #4caf50;
  border-radius: 0.2rem;
  opacity: 0.8;
  overflow: hidden;
  width: max-content;
  transition: max-height 0.4s ease-in-out;
  max-height: 3rem;
  position: absolute;
  z-index: 999;
  top: 0.8rem;
  right: 5rem;
}

.options:hover {
  max-height: 8rem;
}

.icon-group {
  display: flex;
  flex-direction: column;
  margin: 0.2rem auto;
  gap: 0.4rem;
}

.options i {
  font-size: 1.2rem;
  color: #e0e0e0;
  cursor: pointer;
  transition: color 0.3s, transform 0.2s;
}

.options i:hover,
i:hover {
  color: #170c0c;
}

.dark-theme {
  background-color: #170c0c;
  color: #e0e0e0;
}

.dark-theme .header,
.dark-theme .view-results button {
  background-color: #333;
  color: #fff;
}

.dark-theme .options i:hover,
i:hover {
  color: #4caf50;
}

.dark-theme h2,
.dark-theme section,
.dark-theme label {
  background-color: #333;
  color: #e0e0e0;
}

.dark-theme input {
  background-color: #170c0c;
  color: #e0e0e0;
  border: none;
}

.dark-theme th {
  background-color: #333;
  color: #fff;
}

.dark-theme tbody tr:hover {
  background-color: #333;
}

@media (max-width: 425px) {
  .logo-container {
    display: none;
  }

  #toggle-theme {
    margin: auto 0.8rem;
  }

  .options:hover {
    max-height: 10.4rem;
  }
}
